.infoBox {
  
    justify-content: center; 
    
}

.cardContainer {
    width: 100%;

    display: flex;
    justify-content: center;
    
    
}

.cardContainer .MuiCard-root {
    width: 100%;
}
